@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fff; /* Set the background color to white */
  color: #0c0c0c; /* Set the text color to black */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  min-height: 100vh; /* Ensure the content takes at least the full viewport height */
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #f5efef; /* Set the background color to black for dark mode */
    color: #0e0202; /* Set the text color to white for dark mode */
  }
}
/* Add this styling within your component file or in a separate CSS file */

div {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  color: #333;
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}
